<!DOCTYPE html>
<html layout:decorate="~{admin/_layouts/layout}"
	th:with="pageTitle = (${company == null ? 'New Company' : ('Edit ' + company.nameNative)})">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="${pageTitle}">New/Edit Company</title>
</head>
<body>

	<main layout:fragment="content">
        <div class="container-fluid">
            <h1 class="mt-4" th:text="${pageTitle}">New/Edit Company</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item">My Members</li>
                <li class="breadcrumb-item">Companies</li>
                <li class="breadcrumb-item active" th:text="${pageTitle}">New/Edit Company</li>
            </ol>
            
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Company Information</div>
                <div class="card-body">
                	<form action="save" method="post" target="" name="frmEdit"
                			th:action="@{/admin/company/save}" th:object="${company}">
                		<input type="hidden" th:field="*{id}" />
                		<input type="hidden" th:field="*{group}"/>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                	<label class="small mb-1" for="input-name_native">Name (Native)</label>
                                	<input class="form-control py-4" id="input-name_native" th:field="*{nameNative}" type="text" placeholder="Enter name of company in native language" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                	<label class="small mb-1" for="input-name_english">Name (English)</label>
                                	<input class="form-control py-4" id="input-name_english" th:field="*{nameEnglish}" type="text" placeholder="Enter name of company in English" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        	<label class="small mb-1" for="input-intro_native">Introduction (Native)</label>
                        	<textarea class="form-control py-4" id="input-intro_native" th:field="*{introNative}" placeholder="Enter introductive message in native language" ></textarea>
                        </div>
                        <div class="form-group">
                        	<label class="small mb-1" for="input-intro_english">Introduction (English)</label>
                        	<textarea class="form-control py-4" id="input-intro_english" th:field="*{introEnglish}" placeholder="Enter introductive message in English"></textarea>
                        </div>
                        <div class="form-group">
                        	<label class="small mb-1" for="input-country">Country</label>
                        	<input class="form-control py-4" id="input-country" type="text" th:field="*{country}" placeholder="Enter Country" />
                        </div>
                        <div class="form-group mt-4 mb-0">
                        	<button type="submit" class="btn btn-primary btn-block">Create Company</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</main>
</body>
</html>