<!DOCTYPE html>
<html layout:decorate="~{admin/_layouts/layout}">
<head>
<title>Companies</title>
</head>
<body>
	<main layout:fragment="content">
        <div class="container-fluid">
            <h1 class="mt-4">Companies</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item">My Members</li>
                <li class="breadcrumb-item active">Companies</li>
            </ol>
            
            <div class="card card-block mb-4">
            	<div class="card-body">
	              	<p class="card-text">
	              		DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>.
	              		<a href="/admin/company/new" class="btn btn-outline-primary float-right">New Company</a>
	              	</p>
               	</div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Company List</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name (Native)</th>
                                    <th>Name (English)</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name (Native)</th>
                                    <th>Name (English)</th>
                                    <th>Country</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr th:each="company: ${companyList}" th:onclick="|location.href='@{/admin/company/{id}/edit(id=${company.id})}';|">
                                    <td th:text="${company.id}">1</td>
                                    <td th:text="${company.nameNative}">주식회사 마이스허브</td>
                                    <td th:text="${company.nameEnglish}">Micehub co.,ltd.</td>
                                    <td th:text="${company.country}">Republic of Korea</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<script>
$(function(){
	$("#dataTable").DataTable({
		order:[]
	});
});
</script>
	</main>
</body>
</html>