<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../static/admin/css/style.css" th:href="@{/admin/css/style.css}" />
<title>Insert title here</title>
</head>
<body>
<h1>Thymeleaf</h1>
<p>Hello <span th:text="*{who}">WHO?</span></p>
</body>
</html>