<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Micehub Admin</title>
        <link href="../../static/admin/css/style.css" th:href="@{/admin/css/style.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="admin/_fragments/nav :: nav">
        	<!-- insert prototype -->
        </nav>
        <div id="layoutSidenav">
            <div th:replace="admin/_fragments/sidenav :: sidenav">
            	<!-- insert prototype -->
            </div>
            <div id="layoutSidenav_content">
                <main layout:fragment="content">
                	<!-- insert prototype -->
                </main>
                <footer th:replace="admin/_fragments/footer :: footer">
                	<!-- insert prototype -->
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../../static/admin/js/scripts.js" th:src="@{/admin/js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <th:block layout:fragment="js">
        
        </th:block>
    </body>
</html>
